@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Druk-Medium;
  src: url(assets/font/Druk-Heavy-Trial.otf);
}
@font-face {
  font-family: Druk-Cond;
  src: url(assets/font/DrukCond-Super-Trial.otf);
}
@font-face {
  font-family: Roboto;
  src: url(assets/font/Roboto-Medium.ttf);
}
@font-face {
  font-family: Courier;
  src: url(assets/font/GraphikLight.otf);
}
@font-face {
  font-family: Plaster;
  src: url(assets/font/Plaster-Regular.ttf);
}



.plaster{
  font-family: Plaster;
}
.courier{
  font-family: Courier;
}
.druk{
  font-family: Druk-Cond;
}
.roboto{
  font-family:Roboto;
}

body{
  background-color: #131313;
}

.kurangin-margin{
  margin-top: -1rem;
  margin-bottom: -1rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D1603D;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363636;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-8;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  animation: fadeIn 0.2s forwards;
  animation-delay: 0.5s;
}
.fade-in2 {
  animation: fadeIn 0.2s forwards;
  animation-delay: 0.7s;
}
.fade-in3 {
  animation: fadeIn 0.2s forwards;
  animation-delay: 0.9s;
}

.carousel .carousel-status {
  margin-bottom: 0;
}

@layer utilities{
  .paused {
    animation-play-state: paused;
    transition: animation-play-state 1s ease;
  }
}

::-moz-selection {
  background: #D1603D;
  color: black;
}
::selection {
  background: #D1603D; /* This is a light red color */
  color: black; /* This is the text color */
}

.float-svg {
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}