@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Druk-Medium;
  src: url(assets/font/Druk-Heavy-Trial.otf);
}
@font-face {
  font-family: Druk-Cond;
  src: url(assets/font/DrukCond-Super-Trial.otf);
}
@font-face {
  font-family: Roboto;
  src: url(assets/font/Roboto-Medium.ttf);
}
@font-face {
  font-family: Courier;
  src: url(assets/font/CourierPrime-Regular.ttf);
}
@font-face {
  font-family: Plaster;
  src: url(assets/font/Plaster-Regular.ttf);
}



.plaster{
  font-family: Plaster;
}
.courier{
  font-family: Courier;
}
.druk{
  font-family: Druk-Cond;
}
.roboto{
  font-family:Roboto;
}

body{
  background-color: #131313;
}

.kurangin-margin{
  margin-top: -1rem;
  margin-bottom: -1rem;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D1603D;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-8;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  animation: fadeIn 0.2s forwards;
  animation-delay: 0.5s;
}
.fade-in2 {
  animation: fadeIn 0.2s forwards;
  animation-delay: 0.7s;
}
.fade-in3 {
  animation: fadeIn 0.2s forwards;
  animation-delay: 0.9s;
}

.carousel .carousel-status {
  margin-bottom: 0;
}
